/IndexOfFirstOccuranceInString.class
/MinimumOperations.class
/MininumAverage.class
/PalindromeNumber.class
/PerfectSquare.class
/PlusOne.class
/RemoveDuplicateFromArray.class
/ScoreOfString.class
/TwoSum.class
/ValidParantheses.class
/LengthOfLastWord.class
/RemoveDuplicateFromSL.class
/ValidPalindrome.class
/SingleNumber.class
