/AppendSerialnoAtEnd.class
/AppendSerialnoAtFirst.class
/ArrayQuestion1.class
/ArrayQuestion2.class
/ArrayQuestion3.class
/ArrayQuestion4.class
/ArrayQuestion5.class
/ArrayQuestion6.class
/FirstMaximum.class
/FirstMinimum.class
/ReverseArray.class
/SecondMaximum.class
/SecondMinimum.class
/SumAndAppendAtEnd.class
/SumAndAppendAtStart.class
/TwoConsecutiveNo.class
/prog1.class
/prog2.class
