/AddWithoutAdd.class
/CheckArmstrong.class
/CheckPalindrome.class
/CheckPalindromicPrime.class
/CheckPerfectCube.class
/CheckPerfectNumber.class
/CheckPerfectSquare.class
/CheckPrime.class
/CheckStrong.class
/CheckTwistedPrime.class
/Coins.class
/CompoundInterest.class
/CountryMain.class
/Diagonal.class
/Prog.class
/Prog1.class
/Prog3.class
/Prog4.class
/RemoveDuplicatesFromArr.class
